<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <GMapMap
      :center="{ lat: 51.093048, lng: 6.84212 }"
      :zoom="7"
      map-type-id="terrain"
      style="width: 100%; height: 500px"
    >
      <GMapMarker
        :key="marker.id"
        v-for="marker in markers"
        :position="marker.position"
      />
    </GMapMap>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data() {
    return {
      center: { lat: 51.093048, lng: 6.84212 },
      markers: [
        {
          id: "dfsldjl3r",
          position: {
            lat: 51.093048,
            lng: 6.84212,
          },
        },
        {
        id: "afsldjl3r",
          position: {
            lat: 1.093048,
            lng: 6.84212,
          },
        }
      ],
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.vue-map-container {
  height: 500px;
}
</style>
